<header>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/user-profile" routerLinkActive="active" class="nav-link">HW 2. User profile card.</a></li>
          <li><a routerLink="/calculator" routerLinkActive="active" class="nav-link">HW 3. Calculator</a></li>
        </ul>        
    </div>
</header>
<router-outlet />