<div class="calculator mt-5">
    <h2 class="text-center">Calculator</h2>
            <app-calculator-display [displayValue]="displayData"></app-calculator-display>
            <div class="row">                
                <button class="calculator-button clear-button col-md-12" (click)="clear()">C</button>
            </div>
            <div class="row">
                <button class="col-md-3 calculator-button" (click)="appendInput('7')">7</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('8')">8</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('9')">9</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('*')">*</button>
            </div>
            <div class="row">
                <button class="col-md-3 calculator-button" (click)="appendInput('4')">4</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('5')">5</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('6')">6</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('-')">-</button>
            </div>
            <div class="row">
                <button class="col-md-3 calculator-button" (click)="appendInput('1')">1</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('2')">2</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('3')">3</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('+')">+</button>
            </div>
            <div class="row">
                <button class="col-md-3 calculator-button" (click)="appendInput('0')">0</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('.')">.</button>
                <button class="col-md-3 calculator-button" (click)="calculate()">=</button>
                <button class="col-md-3 calculator-button" (click)="appendInput('/')">/</button>
            </div>
</div>