.calculator-button {
    background-color: var(--light-blue);
    height: 30px;
    border: solid var(--light-blue);
    border-radius: 3%;
    text-align: center;
    margin-top: 5%;;
    width: 100%;
}

.dark-mode{
    background-color: var(--medium-blue);
    border: solid var(--medium-blue);
}