.calculator-button {
    background-color: var(--light-blue);
    height: 30px;
    border: solid var(--light-blue);
    border-radius: 3%;
    text-align: center;
    margin: 1%;
    width: 23%;
}

.dark-mode{
    background-color: var(--blue);
}