header{
    height: 5%;
    width: 100%;
    background-color: var(--light-blue);
    margin-bottom: 0.2%;
    a {
        color: var(--black);        
    }
    .authButtons{
        margin-left: auto;
        margin-right: 1%;
    }
}