  <header>
    <div class="d-flex flex-wrap align-items-center ">        
        <ul class="nav">
          <li><a routerLink="/home" routerLinkActive="active" class="nav-link">Bookshelf</a></li>
          <li><a routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a></li>                
        </ul>
        <button routerLink="/add-book" routerLinkActive="active" class="btn btn-sm btn-primary">AddBook</button>
        <div class="authButtons float-end">
            <ng-container *ngIf="!isLoggedIn; else loggedIn">
                <button routerLink="/sign-up" routerLinkActive="active" class="btn btn-sm btn-outline-secondary">Sign Up</button>
                <button routerLink="/sign-in" routerLinkActive="active" class="btn btn-sm btn-primary">Sign In</button>     
              </ng-container>
              <ng-template #loggedIn>
                <span>Welcome, {{ userName }}</span>
                <button (click)="onSignOut()" class="btn btn-sm btn-primary">Sign Out</button>
              </ng-template>
        </div>           
    </div>
</header>
<router-outlet />